<!-- body and html tags held in header and footer partials-->
<!--TODO Write out HTML for entire form, to be broken down into partials later-->

<!-- Routing action broken, need to fix-->
 <div class="form">
    <form method="GET" action="result.html">
        <h1>Lorem Ipsum Generator</h1>

        <div class="form-body">
            <p>I want to generate <input type="number" id="number" value="number" name="number_of">
                <select id="type" name="organize_by">
                    <option value="letters">Letters</option>
                    <option value="words">Words</option>
                    <option value="senteces">Sentences</option>
                    <option value="paragraphs">Paragraphs</option>
                </select>
                of Lorem Ipsum Text
            </p>

            <button type="submit">Generate Text</button>
        </div>
    </form>
 </div>