<!-- body and html tags held in header and footer partials-->
<!--TODO Write out HTML for entire form, to be broken down into partials later-->

<!-- Routing action broken, need to fix-->
<form method="POST" action="result.html">
    <h1>Lorem Ipsum Generator</h1>

    <label>Organize By...</label>

    <input type="radio" id="words" value="words" name="organize_by">
    <label for="words">Words</label>

    <input type="radio" id="sentences" value="sentences" name="organize_by">
    <label for="sentences">Sentences</label>

    <input type="radio" id="paragraphs" value="paragraphs" name="organize_by">
    <label for="paragraphs">Paragraphs</label>

    <button type="submit">Generate Text</button>
</form>

